body {
    background-color: rgb(133, 167, 181);
    color: rgb(33, 25, 73);
  }

  .container {
    width: 960px;
    margin: auto;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: rgb(33, 25, 73);
  }

  span{
   font-weight: bold;
  }
  
  .giga_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .navbar-menu {
    display: flex;
    width: 150%;
    justify-content: space-evenly;
  }

 .title{
    float: right;
 }

  .navbar-menu-item {
    transition: 0.5s;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  
  .information-text {
    width: 60%;
    padding: 0 10px;
    line-height: 30px;
  }
  .informatiom-list li {
    padding: 10px 0;
  }
  .informatiom-list li a {
    text-decoration: underline;
  }
  
  .footer_place {
    float: right;
    display: block;
    width: 960px;
    border: 1px solid blue;
    margin: 2px;
    padding-top: 10px;
    height: 70%;
    font-size: 18px;
  }

  .additional_news {
    float: left;
    display: block;
    width: 960px;
    border: 1px solid blue;
    margin: 2px;
    padding-top: 10px;
    height: 70%;
    font-size: 18px;
  }
  
  .footer_place a {
    text-decoration: underline;
    color: coral;
  }
  